<!DOCTYPE html>
<html>
  <head>
    <title>query our data :)</title>
  </head>

  <body style="background-color:lightsteelblue; font-family: Arial; text-align:center; border-style:solid;">
  	<br><h1>Fill out a form!</h1>
    <form action="/gifs" >
      Rating:<br>
      <input type="radio" name="rating" value="g" checked> G<br>
      <input type="radio" name="rating" value="pg"> PG<br>
      <input type="radio" name="rating" value="pg-13"> PG-13<br><br>
      Do you want it from a verified source on Twitter?<br>
      <input type="checkbox" name="verified" value="yes">yes!<br><br>
      <input type="submit" style="background-color:white; color:black; border: 2px solid goldenrod; padding: 5px; font-size:15px;" value="Submit!"><br><br>
    </form>

  </body>
</html>