<!DOCTYPE html>
<html>
  <head>
    <title>query our data :)</title>
  </head>

  <body>
  
    <form action="/gifs" >
      Ratings:<br>
      <input type="radio" name="rating" value="g" checked> G<br>
      <input type="radio" name="rating" value="pg"> PG<br>
      <input type="radio" name="rating" value="pg-13"> PG-13<br>
      Do you care if it's from a verified source on Twitter?
      <input type="checkbox" name="verified" value="yes">yes!<br>
      <input type="submit" value="Submit!">
    </form>

  </body>
</html>